[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
pytest = "*"
twine = "*"

[packages]
click = "*"
paquete-nlt-roylanmartinez = {editable = true, git = "https://github.com/roylanmartinez/Numlet.git"}

[requires]
python_version = "3.8"
