[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
pytest = "*"
pytest-benchmark = "*"
twine = "*"

[packages]
click = "*"

[requires]
python_version = "3.8"
